// bower:scss
// endbower

// Variables
$white: #ffffff;
$light-blue: #64ffda;
$darker-blue: #64ffdb;
$green: #69F0AE;
$light-orange: #FF9E80;
$orange: #FF6E40;
$text-second: rgba(66,66,66,0.75);
$text: #424242;


body {
    background: $white;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    overflow: hidden;
    p {
        margin: 0;
    }
    .section {
        overflow: hidden;
        // visibility: hidden;
        top: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: $white;

        .nav {
            position: absolute;
            top: 0;
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 16px;
            color: $white;
            background: #323232;
            &-left {
                padding: 20px 0 0 30px;
                z-index: 4;
                color: $text;
                span {
                    text-transform: uppercase;
                }
            }
            &-right {
                width: 50%;
                display: flex;
                justify-content: space-between;
                padding: 20px 30px 0 0;
            }
        }
        .title {
            position: absolute;
            left: 0;
            top: 0;
            height: 10vh;
            width: 100%;
            padding-top: 20vh;
            left: 10%;
            text-transform: uppercase;
        }
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    .welcome-section {
        &-top,
        &-back {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 100vh;
            text-align: center;
            font-size: 350px;
            text-transform: uppercase;
            span {
                height: 81%;
                width: 100%;
                display: block;
                padding-top: 10%;
            }
        }
        &-top {
            // OPTION 1
            // background-image: -webkit-gradient( linear, left top, right top, color-stop(0, $green), color-stop(0.5, $light-orange), color-stop(1, $orange) );
            // background-image: gradient( linear, left top, right top, color-stop(0, $green), color-stop(0.5, $light-orange), color-stop(1, $orange) );
            // color:transparent;
            // -webkit-background-clip: text;
            // background-clip: text;
            // z-index: 1;

            // OPTION 2
            // background: linear-gradient(270deg, #FCFF00, #18f0b8, #18a2f0, #FCFF00);

            background: linear-gradient(270deg, $green, $light-blue, $light-orange, $green);
            background-size: 600% 600%;
            -webkit-animation: Gradient 3s ease infinite;
            -moz-animation: Gradient 3s ease infinite;
            animation: Gradient 3s ease infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
        &-back {
            clip-path: polygon(-20% 0%, 20% 0%, 120% 100%, 90% 105%);
            background-color: $light-blue;
        }
    }

    .experience1-section,
    .experience2-section,
    .experience3-section,
    .skills-section {
        .welcome-section-top,
        .welcome-section-back {
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 3px;
            line-height: 16px;
            text-transform: inherit;
            span {
                max-width: 80%;
                margin: 0 auto;
                padding-top: 30vh;
            }
        }
        .learned {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 35vh;
            width: 100%;
            text-transform: uppercase;
            .box {
                display: flex;
                max-width: 60%;
                justify-content: space-between;
                padding-left: 10%;
                align-items: center;
                padding-bottom: 30px;
            }
        }
    }
    .skills-section {
        .box-wrap {
            height: 81%;
            display: block;
            max-width: 80%;
            margin: 0 auto;
            padding-top: 30vh;

            .skills-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-bottom: 4em;
            }
        }

    }
}



////////////////////////

// .element {
// 	background: linear-gradient(270deg, #FCFF00, #18f0b8, #18a2f0, #FCFF00);
// 	background-size: 600% 600%;
// 	-webkit-animation: Gradient 3s ease infinite;
// 	-moz-animation: Gradient 3s ease infinite;
// 	animation: Gradient 3s ease infinite;
// 	-webkit-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// }

@-webkit-keyframes Gradient {
  0%, 100% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
}

@-moz-keyframes Gradient {
  0%, 100% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
}

@keyframes Gradient {
  0%, 100% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
}
