// bower:scss
// endbower

// Variables
$white: #ffffff;
$light-blue: #64ffda;
$darker-blue: #64ffdb;
$green: #69F0AE;
$light-orange: #FF9E80;
$orange: #FF6E40;
$text-second: rgba(66,66,66,0.75);
$text: #424242;

$pink-dark: #C2185B;
$pink-medium: #E91E63;
$pink-midLow: #FF4081;
$pink-low: #F8BBD0;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
    background: $white;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    overflow: hidden;

    p {
        margin: 0;
    }

    .nav {
        position: fixed;
        top: 0;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        color: $white;
        // background: #C2185B;
        background: #009688;
        width: 60px;
        right: 0;
        z-index: 2;
        transition-duration: 0.35s;
        margin-right: 10px;
        margin-top: 10px;

        .hamburger {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .top,
            .medium,
            .bottom {
                height: 2px;
                width: 30px;
                display: block;
                background: white;
                border-radius: 3px;
            }

            .top, .medium {
                margin-bottom: 4px;
            }
            .medium {
                width: 20px;
            }
        }

        &-left {
            padding: 0 0 0 30px;
            z-index: 4;
            color: $white;
            align-items: center;
            display: flex;
            span {
                text-transform: uppercase;
            }
        }

        &-right {
            width: 50%;
            display: flex;
            justify-content: space-between;
            padding: 0px 30px 0 0;
            align-items: center;

            a {
                position: relative;
                cursor: pointer;
                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    top: 10px;
                    margin-top: -0.5px;
                    background: $pink-dark;
                }

                &:before {
                    left: -1.5px;
                }
                &:after {
                    right: 1.5px;
                    background: $pink-dark;
                    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
                }

                &:hover {

                    &:before {
                        background: $pink-dark;
                        width: 100%;
                        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                    }

                    &:after {
                        background: transparent;
                        width: 100%;
                        transition: 0s;
                    }
                }
            }
        }

        &-left, &-right {
            opacity: 0;

            p, a {
                text-transform: uppercase;
            }
        }
    }

    .section {
        overflow: hidden;
        top: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: #fafafa;
        z-index: 1;

        .title {
            position: absolute;
            left: 0;
            top: 0;
            height: 10vh;
            width: 100%;
            padding-top: 17vh;
            left: 10%;
            text-transform: uppercase;
        }

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    .welcome-section {

        &-top,
        &-back {

            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 100vh;
            text-align: center;
            font-size: 31vw;
            text-transform: uppercase;

            span {
                height: 82%;
                width: 100%;
                display: block;
                padding-top: 12vh;
            }
        }

        &-top,
        &-top a {
            background: linear-gradient(270deg, $pink-dark, #D32F2F, #FF5252, $pink-midLow, $pink-dark);
            background-size: 600% 600%;
            -webkit-animation: Gradient 10s ease infinite;
            -moz-animation: Gradient 10s ease infinite;
            animation: Gradient 10s ease infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        &-back {
            clip-path: polygon(-20% 0%, 20% 0%, 120% 100%, 90% 105%);
            // background-color: rgba(100, 255, 218, 0.0980392);
            background-color: #B2DFDB;
        }
    }

    .experience1-section,
    .experience2-section,
    .experience3-section,
    .skills-section {

        .welcome-section-top,
        .welcome-section-back {
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 3px;
            line-height: 16px;
            text-transform: inherit;

            span {
                max-width: 80%;
                margin: 0 auto;
                padding-top: 30vh;
            }
        }

        .learned {
            left: 0;
            bottom: 0;
            width: 100%;
            text-transform: uppercase;
            height: calc(100% - 130px);

            .close-btn {
                opacity: 0;
                width: 50px;
                height: 50px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 12;

                &:hover {
                    cursor: pointer;
                }

                .left,
                .right {
                    height: 1px;
                    width: 100%;
                    display: block;
                    background: white;
                    border-radius: 3px;
                }

                .left {
                    transform: rotate(45deg);
                }

                .right {
                    transform: rotate(-45deg);
                }
            }

            &.positioning {
                position: absolute;
            }

            .box {
                display: flex;
                max-width: 60%;
                justify-content: space-between;
                padding-left: 10%;
                align-items: center;
                padding-bottom: 30px;
                margin: 5px;
                &.fullWidth {
                    min-width: 100%;
                    flex: 1 1 100% ;
                    box-shadow: 0;
                }
                &.fullHeight {
                    height: calc(100% - 2em);
                }
            }

            &.boxes {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .box {
                    flex-direction: column;
                    padding-left: 0;
                    flex: 1 1 30%;

                    &-content {
                        border-radius: 2px;
                        min-width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 40px;
                        text-align: center;
                        font-family: 'Abril Fatface';
                        color: $pink-dark;
                        // text-shadow: 0 1px 2px;
                        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.14), 0 17px 50px 0 rgba(0, 0, 0, 0.09);

                        p {

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .overlay-content {
                            display: none;

                            p {

                                &:hover {
                                    cursor: auto;
                                }
                            }

                            span {
                                text-transform: none;
                                font-size: 13px;
                                font-weight: 100;
                                text-align: center;
                                transition: opacity 0.2s, transform 0.35s;
                                transform: translate3d(0,60px,0);
                                padding: 1em;

                            }
                        }

                        &.hideShadow {
                            box-shadow: none;
                            color: #323232;
                        }
                    }
                }

                &.boxes-row-top {
                    bottom: 35vh;
                }
            }

            &.totalHeight {
                height: 100%;
                background-size: 600% 600%;
                animation: Gradient 5s ease infinite;
                background: linear-gradient(270deg, $pink-dark, #D32F2F, #FF5252, $pink-midLow, $pink-dark);
                z-index: 10;
                margin: 0;
                padding: 0;
            }
        }
    }

    .welcome-section {
        .welcome-section-top span,
        .welcome-section-back span {
            font-family: 'Abril Fatface';
        }
    }

    .experience1-section {

        .welcome-section-top span,
        .welcome-section-back span {
            padding-top: 33vh;
            max-width: 60em;
            line-height: 2;
        }
    }

    .experience1-section,
    .skills-section {
        .about-me {
            max-width: 300px;
            height: 600px;
            font-size: 120px;
            color: $pink-low;
            opacity: 0.5;
            position: absolute;
            bottom: 0;
            font-family: 'Abril Fatface';
            margin-bottom: -100px;
            z-index: 1;
        }
    }

    .skills-section {

        .box-wrap {
            height: 81%;
            display: block;
            max-width: 80%;
            margin: 0 auto;
            padding-top: 30vh;

            .skills-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-bottom: 4em;
            }
        }
        p {
            span {
                display: none;
            }
        }

        a {
            position: relative;
            cursor: pointer;
            &:after,
            &:before {
                content: '';
                position: absolute;
                width: 0%;
                height: 1px;
                top: 10px;
                margin-top: -0.5px;
                background: $pink-dark;
            }

            &:before {
                left: -1.5px;
            }
            &:after {
                right: 1.5px;
                background: $pink-dark;
                transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
            }

            &:hover {

                &:before {
                    background: $pink-dark;
                    width: 100%;
                    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                }

                &:after {
                    background: transparent;
                    width: 100%;
                    transition: 0s;
                }
            }
        }

        .skill-box {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            font-family: 'Abril Fatface';
            background-color: $pink-dark;
        }

        #close-slide {
            opacity: 0;
            width: 30px;
            height: 30px;
            position: inherit;
            right: 0;
            bottom: 30vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 12;

            &:hover {
                cursor: pointer;
            }

            .left,
            .right {
                height: 1px;
                width: 100%;
                display: block;
                background: white;
                border-radius: 3px;
            }

            .left {
                transform: rotate(45deg);
            }

            .right {
                transform: rotate(-45deg);
            }
        }

        .welcome-section-top,
        .welcome-section-back {
            z-index: 3;
        }

        .skill-box {
            z-index: 1;
        }

        .about-me {
            z-index: 2
        }
    }
}

@-webkit-keyframes Gradient {
  0%, 100% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
}

@-moz-keyframes Gradient {
  0%, 100% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
}

@keyframes Gradient {
  0%, 100% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
}
